
body{
    width: 100%;
    margin: 0 auto !important;
}
*{
    margin: 0 ;
    padding: 0 ;
}
.row, nav{
    margin: 0 !important;
    padding: 0!important;
}
/* header start*/
.carousel-item>img{
    max-width: 100%;
}
@media (max-width: 768px){
    .carousel-item>img{
        height: 15rem;
    }
}
@media (min-width: 768px){
    .carousel-item>img{
        height: 20rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
@media (min-width: 992px) {
    .carousel-item>img{
        height: 25rem;
    }

}
@media (min-width: 1200px) {
    .carousel-item>img{
        height: 35rem;
    }

}
main div{
    background-color: rgb(136, 236, 150);
    nav ul {
        li.nav-item{
            background-color: #12e75985;
            
        }
        li.nav-item:hover{
            background-color: rgb(29, 153, 13);
            a{
                color: #fff;
            }
        }
    }
    section {
        .image {
            display: flex;
            justify-content: center;
        }
        h1{
            padding-top: 1rem;
        }
        div {
            p{
            text-align: justify;
            }
            img{
                max-width: 100%;
                padding-bottom: 1rem;

            }
        }
    }
}
footer{
    background-color: #1d990d;
    a{
        color: #fff;
    }
  }

/* header end */